


.sub-topbox{


    .sub-nav{
        background-color: rgb(55, 3, 3);
        background-image: url("img/home.png");
        background-repeat: no-repeat;
    
        padding-left: 21px;

        .home{
            color: white;
        }
    }
    .title-box
    {
        min-height: 200px;
        background-repeat: no-repeat;
        background-image: url("img/chicken_soup.jpg");

        margin:0 auto;
        font-size: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left-word{
        }

        .mid-word{
            display: flex;
        }

        .right-word{
        }
    }
}